<%- include('header') %> 
<div class="box" id="heading">
  <h1>This is the about page</h1>
</div>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatem nulla repellat distinctio suscipit repudiandae quibusdam quis enim tempore nostrum?</p>

<%- include('footer') %> 